<div *ngIf="pokemonDetails != undefined; else noPokemonDetails">
    <div class="title">
        <div>{{pokemonDetails.id}}</div>
        <div class="name">{{pokemonDetails.name|uppercase}}</div>
            <div class="d-flex">
                <div *ngFor="let type of pokemonDetails.type" class="{{type|lowercase}} type">{{type|uppercase}}</div>
            </div>
    </div>
    <img  class="image-container" src="{{pokemonDetails.url}}" alt="{{pokemonDetails.name}}'s image" (mouseenter)="playSound(pokemonDetails.sound)">
    <p class="description text-justify">{{pokemonDetails.description}}</p>
        
    <div class="button" (click)="deletePokemon(pokemonDetails)">Supprimer</div>


</div>

<ng-template #noPokemonDetails class="noPokemonDetails">You can find the Pokemon informations here. Click on one of them !</ng-template>